#### Import libraries

In [2]:
import pandas as pd
import numpy as np
import requests
import warnings
warnings.filterwarnings('ignore')

#### Set the url to table location and get the content of the page in variable

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url).content

#### Use the pandas read_html function to read the table. In this case the first table on the page ([0])

In [4]:
df_raw = pd.read_html(page,header=0)[0]

#### Let's clean up the dataset according to specifications, filtering and replacing values

In [14]:
df = df_raw[df_raw['Borough'] != 'Not assigned'] #filter
df.columns = ['PostalCode','Borough','Neighborhood']
df.loc[df['Neighborhood'] == 'Not assigned',['Neighborhood']] = df['Borough'] #replace Neigborhood with Borough if Neigborhood = 'Not assigned'

#### Group the dataframe and apply the string concatenation

In [15]:
df = df.groupby(by=['PostalCode','Borough']).agg(lambda x: ', '.join(set(x))).reset_index()

#### Finally let's show the final frame (103 records with 3 columns)

In [16]:
df.shape

(103, 3)

In [17]:
df.head(9)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                West Hill, Morningside, Guildwood
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Ionview, Kennedy Park, East Birchmount Park
7        M1L  Scarborough                  Oakridge, Golden Mile, Clairlea
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West